html {
  height: 100%;
  width: 100%;
}

.container {
  width: 405px;
  height: 949px;
  top: -527px;
  left: -962px;

}

.container-two{
  width: 406px;
  height: 742px;
  top: -527px;
  left: -530px;

}

.section-one {
  background-color: #cccc;
  padding: 40px 20px;
}

.section-two {
  background-color: #fff;
  padding: 40px 20px;
}

.section-three {
  background-color: #fff;
  padding: 40px 20px;
}

.page-two {
  background-color: #cccc;
  padding: 5px;
}

.close {
  padding: 10px;
  border: none;
  background: none;
  font-size: inherit;
  line-height: inherit;
  float: right;
}


.logo-img {
  width: 15%;
  height: auto;
}

.Covid-img {
  width: 80%;
  height: auto;
  margin-top: 3em;
}

.virus-img {
  width: 60px;
  height: auto;
}

.symptons-img {
  width: 60px;
  height: auto;
}

.prevent-img {
  width: 60px;
  height: auto;
}

.arrow-img {
  width: 30px;
}

p {
  font-size: 12px;
}

.custom-width {
  width: 100%;
}