html {
  height: 100%;
  width: 100%;
}

.container-one {
  width: 405px;
  height: 949px;
  top: -527px;
  left: -962px;
  margin: 0 auto;

}

.section-one {
  background-color: #cccc;
  padding: 40px 20px;
}

.section-two {
  background-color: #fff;
  padding: 40px 20px;
}


.logo-img {
  width: 15%;
  height: auto;
  top: 20px;
  left: 20px;
}

.Covid-img {
  height: auto;
  margin-top: 5em;
}

.virus-img {
  width: 60px;
  height: auto;
}

.symptons-img {
  width: 60px;
  height: auto;
}

.prevent-img {
  width: 60px;
  height: auto;
}

.arrow-img {
  width: 30px;
}

p {
  font-size: 12px;
}

.custom-width {
  width: 100%;
}

/*Index2 Styling*/

.container-two{
  width: 406px;
  height: 742px;
  top: -527px;
  left: -530px;
  background-color: #cccc;
  margin: 0 AUTO;
}

.logo-img1 {
  width: 15%;
  height: auto;
  position: relative;
  top: 20px;
  left: 20px;
}

.header-img{
  position: relative;
}

.fever-img{
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;  
}

.section-three {
  background-color: #fff;
  padding: 40px 20px;
}

.close {
  padding: 10px;
  border: none;
  background: none;
  font-size: inherit;
  line-height: inherit;
  float: right;
}

.question{
  width: 100%;
}

.bottom-question{
  bottom: 31px;
  margin-top: 30%;
}

.question .btn{
  width: 100%;
  display: block;
}
button.btn.btn-primary.btn-lg.btn-block {
  width: 100%;
  margin-bottom: 10px;
}

/*Index3 Styling*/

.container-three{
  width: 403px;
  height: 717px;
  top: -527px;
  left: -97px;
  background-color: #cccc;
  margin: 0 AUTO;
}

.section-four {
  background-color: #fff;
  padding: 40px 20px;
}

/*Index4 Styling*/

.container-four{
  Width: 405px;
  Height: 774px;
  Top: -527px;
  Left: 343px;
  background-color: #cccc;
  margin: 0 AUTO;
}

.section-five {
  background-color: #fff;
  padding: 40px 10px;
}